.container-fluid {
    padding-top: 50px;
    background-image: url(/images/redvelvet.jpg);
    background-repeat: repeat;
    min-height: -webkit-fill-available;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    /* display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px; */
}

/* Small devices (landscape phones, 576px and up) */
/* @media screen and (max-width: 768px) {
    .container-fluid {
        grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    }
} */

/* Medium devices (tablets, 768px and up) */
/* @media screen and (min-width: 768px) {
    .container-fluid {
        grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    }
} */

/* Large devices (desktops, 992px and up) */
/* @media screen and (min-width: 992px) {
    .container-fluid {
        grid-template-columns: 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr;
    }
} */