.card {
    background: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
    width: 200px;
    margin: 5px;
    position: relative;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    cursor: pointer;
}

.card > .img-container {
    background-size: cover;
}

.card:active {
    box-shadow: 0 1px 2px #999, 0 1px 2px #999;
    transform: translateY(4px);
}